html, body{
    overflow-y: scroll;
    overflow-x: hidden; /* pour désactiver la barre de défilement horizontale */
    margin: 0;
    padding: 0;
    background-color: #161c2d;
    }
html {
    width: 100%;
    height: 100%;
    max-height: 100%;
    
}

body {
    color: #ffffff;
    background-size: 100%;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    max-height: 100%;
}
body.index{
    background-image: url("img/Paladin.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
}

.titre {
    margin-top: 30px;
    text-align: center;
    font-size: xxx-large;
    font-weight: lighter;
    color: #FFB800;
    font-family: "Irish Grover", cursive;
}

.heroe-header-line {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-items: center;
}


.heroe-header-line h3{

    color: #FFB800;
}

.button {
    display: inline-block;
    color: black;
    background-color: #FFB800;
    border: none;
    border-radius: 5px;
    padding: 8px 50px;
    font-size: 16px;
    transition-duration: 0.4s;
    font-weight: bold;
    height: 30px;
}
.button a{
    text-decoration: none;
    color:black;
}

.button:hover {
    background-color: white;
    color: black;
}

/* -----------------------------------------------------------*/
.heroe-choice{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroe-card-choice{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 60%;
}

.heroe-selection-line {
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center;
}

input{
    accent-color:#C66767;
    height: 20px;
    width: 20px;
}

.heroe-card {
    display: flex;
    color: black;
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
    height: 80px;
}

.heroe-card-text {
    margin-top: 8px;
}
.heroe-card-text h1{
    margin-top: 30px;
    text-align: center;
    font-size: xxx-large;
    color: black;

}
.heroe-card-img {
    float: left;
    display: block;
    margin-right: 10px;
}

.heroe-card img {
    width: 80px;
    height: 80px;
}

.heroe-card h1 {
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: large;
}

.heroe-description {
    float: none;
    margin-top: 5px;
    padding: 0;
    font-size: x-small;
}

/*-------------------------------------------------------------------
    fight.html
    -----------------------------------------------------------------
*/

.combat{
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
}

.VS{
    display: flex;
    color: #FFB800;
    font-weight: bold;
    font-size: 60px;
    align-items: center;
}

#J1{
    background-color:  #736E6E;
    align-items: center;
    height: 60px;
}

#J2{
    border: solid 8px #FFB800;
    border-radius: 10px;  
    align-items: center;
    box-sizing: content-box;
    height: 60px;
}

.heroe-card-text-vs{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.heroe-card-text-vs h2{
    margin-bottom: 0;
}

.heroe-card-text-vs p{
    font-size: large;
}

.pts{
    color: #A0A0A0;
}

.score {
    font-size: 72pt;
    font-weight: bolder;
}

.sort_J1, .sort_J2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;
    height: 40px;
}

.sort_J1{
    color: #C66767;
}

.turns{
    font-size: 14px;
}
.action{
    display: flex;
    align-items: center;
}

h4{
    margin-bottom: 5px;
}
.scroller {
    width: 450px;
    height: 200px;
    overflow-y: scroll;
    color: #161c2d;
    background-color: #736E6E;
    border-radius: 10px; 
}

.type_sort{
    margin: 10px;
}

.type_sort div{
    display: flex;
    margin-top: 8px;
    justify-content: space-between;

}

.name_sort, .points_negatif, .points_positif{
    font-weight: bold;
    font-size: large;
}
.points_negatif{
    color: #C66767;
}
.points_positif{
    color: #7F946A;
}

hr{
    border-color: black;
}
.liste_sorts{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
h5{
    margin: 0;
    margin-bottom: 10px;
}
.coups, .sortileges{
    display: flex;
}
.coups button{
    background:#FFB800 ;
    border-radius: 10px;
    border: none;
    
}
button, .bonus, .malus{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 0;
    
    align-items: center;
}
.nom_sort{
    font-weight: bold;
}
.bonus{
    background:#7F946A ;
    border-radius: 10px;
    border: none;
}
.malus{
    background:#C66767 ;
    border-radius: 10px;
    border: none;
}
/* ------------------------------------------------------------------
   correction-fight.html
   ------------------------------------------------------------------
*/
.three-columns-container {
    display: flex;
    width: 950px;
    margin: auto;
}

.column {
    width: 400px;
}

.center-column {
    width: 150px;
}

.card {
    padding: 10px;
    text-align: left;
    color: black;
    background-color: gray;
    border-radius: 10px;
}

.card h2 {
    margin: 0 4px 0;
}

.card img {
    float: left;
    width: 80px;
    height: 80px;
}

.card p {
    margin: 0 4px 0;
}

.versus-text {
    text-align: center;
}

.card-text {
    float: left;
    text-align: left;
}

.current-player {
    border: solid yellow 7px;
    box-sizing: border-box;
    background-color: white;
}

.sortilege-player {
    width: 400px;
    text-align: center;
    margin: 7px 0;
}

.sortilege-actif {
    color: darksalmon;
    font-weight: bold;
}

.sortilege-actif-nbtours {
    color: darksalmon;
    font-size: 8pt;
}

.sortilege-inactif {
    color: white;
    font-size: 8pt;
}

/*.score {
    float: right;
    font-size: 54pt;
    font-weight: bolder;
    color: lightgrey;
}*/

/* ------------------------ */
#header-coups {
    font-size: 8pt;
    margin: 30px auto 5px;
}

#liste-coups {
    height: 300px;
}
